#carousel-5 .carousel-indicators button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    opacity: 1;
}
#carousel-5 .carousel-indicators button.active{
    background-color: red !important;
}

#carousel-5 .carousel-indicators button:nth-child(2){background-color: yellow;}
#carousel-5 .carousel-indicators button:nth-child(3){background-color: purple;}


